# http://editorconfig.org
root = true

# All files
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown files often require trailing spaces for line breaks
[*.md]
trim_trailing_whitespace = false

# Ensure JSON files are also 2 spaces (redundant due to [*], but good for clarity)
[*.json]
indent_style = space
indent_size = 2